<a href="https://colab.research.google.com/github/sinchanarhegde/Data-Science-project/blob/main/Project_part2(loan_data_set).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution for Loan data set part 2:

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_csv("C:/Users/9OIN/OneDrive/Desktop/Project Documents/loan_data_set.csv", sep=",")

In [ ]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

## Data Exploration:

In [ ]:
df1.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [ ]:
df1.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

## Data Cleaning:

In [ ]:
df1.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
df1.ffill(inplace=True)
df1.bfill(inplace=True)

In [ ]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

#### creating seperate columns for categorical feature values:

In [ ]:
df2=pd.get_dummies(df1,columns=["Gender","Married","Dependents","Education","Self_Employed","Property_Area","Loan_Status"])

In [ ]:
df2

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,...,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,False,True,True,False,...,False,True,False,True,False,False,False,True,False,True
1,LP001003,4583,1508.0,128.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,True,False,False,True,False
2,LP001005,3000,0.0,66.0,360.0,1.0,False,True,False,True,...,False,True,False,False,True,False,False,True,False,True
3,LP001006,2583,2358.0,120.0,360.0,1.0,False,True,False,True,...,False,False,True,True,False,False,False,True,False,True
4,LP001008,6000,0.0,141.0,360.0,1.0,False,True,True,False,...,False,True,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,2900,0.0,71.0,360.0,1.0,True,False,True,False,...,False,True,False,True,False,True,False,False,False,True
610,LP002979,4106,0.0,40.0,180.0,1.0,False,True,False,True,...,True,True,False,True,False,True,False,False,False,True
611,LP002983,8072,240.0,253.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,False,False,True,False,True
612,LP002984,7583,0.0,187.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,False,False,True,False,True
613,LP002990,4583,0.0,133.0,360.0,0.0,True,False,True,False,...,False,True,False,False,True,False,True,False,True,False

In [ ]:
df2.dtypes

Loan_ID                     object
ApplicantIncome              int64
CoapplicantIncome          float64
LoanAmount                 float64
Loan_Amount_Term           float64
Credit_History             float64
Gender_Female                 bool
Gender_Male                   bool
Married_No                    bool
Married_Yes                   bool
Dependents_0                  bool
Dependents_1                  bool
Dependents_2                  bool
Dependents_3+                 bool
Education_Graduate            bool
Education_Not Graduate        bool
Self_Employed_No              bool
Self_Employed_Yes             bool
Property_Area_Rural           bool
Property_Area_Semiurban       bool
Property_Area_Urban           bool
Loan_Status_N                 bool
Loan_Status_Y                 bool
dtype: object

In [ ]:
df2.drop("Gender_Female",axis=1,inplace=True)

In [ ]:
df2

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_No,Married_Yes,Dependents_0,...,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,True,True,False,True,...,False,True,False,True,False,False,False,True,False,True
1,LP001003,4583,1508.0,128.0,360.0,1.0,True,False,True,False,...,False,True,False,True,False,True,False,False,True,False
2,LP001005,3000,0.0,66.0,360.0,1.0,True,False,True,True,...,False,True,False,False,True,False,False,True,False,True
3,LP001006,2583,2358.0,120.0,360.0,1.0,True,False,True,True,...,False,False,True,True,False,False,False,True,False,True
4,LP001008,6000,0.0,141.0,360.0,1.0,True,True,False,True,...,False,True,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,2900,0.0,71.0,360.0,1.0,False,True,False,True,...,False,True,False,True,False,True,False,False,False,True
610,LP002979,4106,0.0,40.0,180.0,1.0,True,False,True,False,...,True,True,False,True,False,True,False,False,False,True
611,LP002983,8072,240.0,253.0,360.0,1.0,True,False,True,False,...,False,True,False,True,False,False,False,True,False,True
612,LP002984,7583,0.0,187.0,360.0,1.0,True,False,True,False,...,False,True,False,True,False,False,False,True,False,True
613,LP002990,4583,0.0,133.0,360.0,0.0,False,True,False,True,...,False,True,False,False,True,False,True,False,True,False

In [ ]:
df2.drop("Married_No",axis=1,inplace=True)

In [ ]:
df2.drop("Dependents_3+",axis=1,inplace=True)

In [ ]:
df2.drop("Education_Graduate",axis=1,inplace=True)

In [ ]:
df2.drop("Self_Employed_No",axis=1,inplace=True)

In [ ]:
df2.drop("Property_Area_Rural",axis=1,inplace=True)

In [ ]:
df2.drop("Loan_Status_N",axis=1,inplace=True)

In [ ]:
df2

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,True,False,True,False,False,False,False,False,True,True
1,LP001003,4583,1508.0,128.0,360.0,1.0,True,True,False,True,False,False,False,False,False,False
2,LP001005,3000,0.0,66.0,360.0,1.0,True,True,True,False,False,False,True,False,True,True
3,LP001006,2583,2358.0,120.0,360.0,1.0,True,True,True,False,False,True,False,False,True,True
4,LP001008,6000,0.0,141.0,360.0,1.0,True,False,True,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,2900,0.0,71.0,360.0,1.0,False,False,True,False,False,False,False,False,False,True
610,LP002979,4106,0.0,40.0,180.0,1.0,True,True,False,False,False,False,False,False,False,True
611,LP002983,8072,240.0,253.0,360.0,1.0,True,True,False,True,False,False,False,False,True,True
612,LP002984,7583,0.0,187.0,360.0,1.0,True,True,False,False,True,False,False,False,True,True
613,LP002990,4583,0.0,133.0,360.0,0.0,False,False,True,False,False,False,True,True,False,False

## Filtering of data:

In [ ]:
a=df2.iloc[:,2:15]

In [ ]:
a

,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,0.0,128.0,360.0,1.0,True,False,True,False,False,False,False,False,True
1,1508.0,128.0,360.0,1.0,True,True,False,True,False,False,False,False,False
2,0.0,66.0,360.0,1.0,True,True,True,False,False,False,True,False,True
3,2358.0,120.0,360.0,1.0,True,True,True,False,False,True,False,False,True
4,0.0,141.0,360.0,1.0,True,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0.0,71.0,360.0,1.0,False,False,True,False,False,False,False,False,False
610,0.0,40.0,180.0,1.0,True,True,False,False,False,False,False,False,False
611,240.0,253.0,360.0,1.0,True,True,False,True,False,False,False,False,True
612,0.0,187.0,360.0,1.0,True,True,False,False,True,False,False,False,True
613,0.0,133.0,360.0,0.0,False,False,True,False,False,False,True,True,False

In [ ]:
b=df2.iloc[:,-1]

In [ ]:
b

0       True
1      False
2       True
3       True
4       True
       ...
609     True
610     True
611     True
612     True
613    False
Name: Loan_Status_Y, Length: 614, dtype: bool

### Model Training:

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
a_train,a_test,b_train,b_test=train_test_split(a,b,test_size=0.25,random_state=(0))

### Logistic Regression:

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
c=LogisticRegression(max_iter=10000)
c.fit(a_train,b_train)

LogisticRegression(max_iter=10000)

In [ ]:
c_predict=c.predict(a_test)

### Confusion Matrix:

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
acs=accuracy_score(b_test,c_predict)
cm=confusion_matrix(b_test,c_predict)

In [ ]:
print(acs)

0.8506493506493507

In [ ]:
print(cm)

[[ 23  20]
 [  3 108]]